@font-face {
    font-family: Barlow;
    src: url('..assets/fonts/Barlow-Medium.ttf') format('truetype'),
        url('..assets/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* Navigation Bar */
nav {
    background-color: rgb(0, 167, 144);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
    z-index: 1000;
    transform: none !important;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #fcb826;
    transition: color 0.3s, transform 0.3s;
}

/* Section hero */
.hero {
    display: flex;
    background-image: url('../assets/images/dandadan.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 47, 0.8);
    z-index: -1;
}

.hero-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00ffd5;
    margin-bottom: 20px;
    margin-top: 40px;
}

.channel-name {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 10px 0
}

.tagline {
    font-size: 1.2rem;
    max-width: 500px;
}


/* Social Links */
.social-links {
    text-align: center;
    padding: 70px 20px;
    background-color: #2c2c3e;
    color: #fff;
}

.social-links h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-item {
    text-align: center;
}

.desc {
    margin-top: 8px;
    font-size: 0.8rem;
    color: #ccc;
}

.social-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    ;
}

.youtube {
    background-color: #ff0000;
    margin-left: 30px;
}

.youtube:hover {
    background-color: #b61313;
}

.discord {
    background-color: #7289da;
}

.discord:hover {
    background-color: #5b6eae;
}

.saweria {
    background-color: #ffb900;
}

.saweria:hover {
    background-color: #d4a000;
}

/* Resposnisf tombol sosial link */
@media (max-width: 468px) {
    .social-buttons {
        flex-direction: column;
        align-items: center;
    }

    .social-button {
        width: 100%;
        justify-content: center;
    }

    .youtube {
        margin-right: 0;
        margin-left: 0;
    }
}

/* Highlight Slider */
.highlight-slider {
    background-color: #4f4f5d;
    position: relative;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.highlight-slider h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 0;
    opacity: 0.8;
}

.highlight-slider>*:not(.bg-blur) {
    position: relative;
    z-index: 1;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.slide-content img {
    width: 100%;
    max-width: 600px;
    /* height: 100%; */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.slide-text h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.slide-text p {
    font-size: 1rem;
    color: #ccc;
}

.slide-text {
    text-align: left;
}


/* Tombol About ME */
.about-section {
    background-color: #26263a;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: #ccc;
}

.about-btn {
    padding: 20px 30px;
    font-size: 1rem;
    background-color: #00ffd5;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.about-btn:hover {
    background-color: #00c4a7;
}


/* Footer */
.footer {
    background-color: #1a1a2e;
    color: #aaa;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9rem;
    /* margin-top: 40px; */
    border-top: 1px solid #333;
}

.footer p {
    margin: 5px 0;
}


/* Fade Section */
.fade-section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Grid Section */
.grid {
    background-color: #1e1e2f;
}

.grid h2 {
    text-align: center;
    color: #fff;
    padding: 80px 0 0;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #3c3c4e;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    width: 70%;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    transition: transform 0.3s ease;
}

.grid-item img {
    width: 100%;
    height: 95%;
    border-radius: 10px;
}

.grid-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        display: flex;
        overflow: hidden;
        padding-bottom: 40px;
    }

    .grid h2 {
        padding: 40px 0 0;
    }

    .grid-item {
        width: 100%;
        display: flex;
        object-fit: cover;
    }

    .grid-item img {
        height: 95%;
        width: 100%;
    }

    .grid-item h3 {
        font-size: 1rem;
    }
}